@model IEnumerable<CustomerWeb.Models.客戶>

@{
    ViewBag.Title = "客戶列表";
}
<h2>客戶列表</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.編號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.地址)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.編號)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.地址)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { custId=item.編號 }) |
            @Html.ActionLink("刪除", "Delete", new { custId=item.編號 })
        </td>
    </tr>
}

</table>
